# https://google.github.io/osv-scanner/github-action
name: OSV Scanner
on:
  push:
    branches:
      - main
  schedule:
    - cron: '47 3 * * 2'

permissions:
  contents: read
  actions: read
  security-events: write

jobs:
  scan-pr:
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v2.3.3"
