name: Workers validation
on:
  push:
    paths:
      - 'workers/**'
      - 'file-metadata/**'
      - '.github/workflows/workers.yaml'
    branches:
      - main
  pull_request:
    paths:
      - 'workers/**'
      - 'file-metadata/**'
      - '.github/workflows/workers.yaml'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - run: docker compose run --rm -w /root/workers node npm ci
      - run: docker compose run --rm -w /root/workers node npm run ci
      - run: docker compose run --rm -w /root/workers node npm run test
      - run: docker compose run --rm -w /root/file-metadata node npm ci
      - run: docker compose run --rm -w /root/file-metadata node npm run ci
      - run: docker compose run --rm -w /root/file-metadata node npm run test

  scan:
    if: ${{ github.event_name == 'pull_request' }}
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@v2.3.2"
    permissions:
      contents: read
      actions: read
      security-events: write

  publish-worker:
    if: ${{ github.event_name == 'push' }}
    needs:
      - test
    permissions:
      id-token: write
      contents: read
    uses: './.github/workflows/deploy-workers.yaml'
    with:
      branch: ${{ github.event_name == 'push' && 'main' || github.head_ref || 'preview' }}
    secrets: inherit

  update-content:
    if: ${{ github.event_name == 'push' }}
    needs:
      - test
    permissions:
      id-token: write
      contents: read
    uses: './.github/workflows/update-content.yaml'
    secrets: inherit
